@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

:root {
  --color-primary-dark-gray: hsl(0, 0%, 63%);
  --color-primary-very-dark-gray: hsl(0, 0%, 27%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
}
